[submodule "odin-agent"]
	path = odin-agent
	url = https://github.com/fgg89/odin-agent.git
[submodule "odin-master"]
	path = odin-master
	url = https://github.com/fgg89/odin-master.git
[submodule "odin-utilities"]
	path = odin-utilities
	url = https://github.com/fgg89/odin-utilities.git
[submodule "odin-click"]
	path = odin-click
	url = https://github.com/fgg89/odin-click.git
